.learn {

    background-color: #3f74ff;
    background-image: -webkit-linear-gradient(315deg, #6f06f5, #3f74ff);
    background-image: linear-gradient(135deg,#5d26f5, #6c5eee);
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    padding: 6px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  .learn {
    transition: transform .7s;
    margin: 50 auto;
  }
  
  .learn:hover {
    -ms-transform: scale(1.05); 
    -webkit-transform: scale(1.05);
    transform: scale(1.05); 
  }

  .blog .carousel-indicators {
    left: 0;
    top: auto;
      bottom: -70px;
  
  }
  
  .blog .carousel-indicators li {
      background: #32beff;
      border-radius: 10px;
      width: 20px;
      height: 2px;
  }
  
  .blog .carousel-indicators .active {
  background: #32beff;
  }

  .back{
    background-color: #3f74ff;
    background-image: -webkit-linear-gradient(315deg, #6f06f5, #3f74ff);
    background-image: linear-gradient(135deg,#5d26f5, #6c5eee);
  }